.custom-calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F5F6;
  border: 10px solid #F2BED1;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.calendar-title {
  text-align: left;
  margin: 0;
  flex: 1;
}

.calendar-header button {
  padding: 10px 20px;
  background-color: #F8E8EE;
  border: 5px solid #FDCEDF;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-header button:hover {
  background-color: #FDCEDF;
}

.react-calendar__navigation__label {
  font-size: 20px;
  font-weight: bold;
}

.react-calendar {
  width: 80%;
  max-width: 600px;
  height: auto;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  border-radius: 50%;
  border: none;
  position: relative;
}

/* 오늘 날짜 배경색과 글씨 색상 설정 */
.react-calendar__tile--now {
  background: none;
  color: #FF69B4 !important; /* 핑크색 글씨 */
}

.react-calendar__tile--active {
  background: #F2BED1 !important;
  color: white !important;
}

.react-calendar__navigation {
  background-color: #FDCEDF;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.react-calendar__month-view__weekdays {
  background-color: #FDCEDF;
  padding: 5px 0;
}

/* 요일 이름 색상 설정 */
.react-calendar__month-view__weekdays__weekday--saturday {
  color: rgb(116, 121, 255); /* 토요일 색상 */
}

.react-calendar__month-view__weekdays__weekday--sunday {
  color: rgb(255, 116, 130); /* 일요일 색상 */
}

/* 평일 색상 설정 */
.react-calendar__month-view__weekdays__weekday--monday,
.react-calendar__month-view__weekdays__weekday--tuesday,
.react-calendar__month-view__weekdays__weekday--wednesday,
.react-calendar__month-view__weekdays__weekday--thursday,
.react-calendar__month-view__weekdays__weekday--friday {
  color: black; /* 평일 색상 */
}

/* 주말 날짜 색상 변경 */
.saturday {
  color: rgb(116, 121, 255); /* 토요일 색상 */
}

.sunday {
  color: rgb(255, 116, 130); /* 일요일 색상 */
}

.selected-date {
  font-size: 0.8em;
  margin-top: 20px;
}

/* 요일 이름 밑의 점선 제거 */
.react-calendar__month-view__weekdays__weekday {
  border-bottom: none !important;
  border-bottom: 0 !important;
}

/* `.react-calendar__month-view__weekdays`의 자식 요소에서 점선 제거 */
.react-calendar__month-view__weekdays__weekday > abbr {
  border-bottom: none !important;
  text-decoration: none !important;
}


